/* Jeremy Calhoun
WEB115-N801 Fall 24 */

fieldset {
	width: 30ch;
	margin: 1ch auto;
	box-sizing: border-box;
	border: 3px solid #aaa;
}

fieldset:first-of-type {
	margin-top: 0;
}

main nav {
	margin-top: 0;
}
	

input {
	width: 100%;
	border-radius: 5px;
	height: 3ch;
}

label {
	width: 95%;
	display: block;
	margin: 2% 1% 0;
}

label:first-of-type {
	margin-top: 0;
}

.buttons {
	display: flex;
	margin: 2.5ch auto auto;
	justify-content: space-around;
}

button {
	height: 4ch;
	width: 11ch;
	color: #2f2f5d;
	font-weight: bolder;
	background-color: #77eefd;
}

button:hover {
	background-color: #2f2f5d;
	color: #c5ffff;
	border: 2px solid #77eefd;
}

#greeting{
	padding-bottom: .5ch;
}

#output {
	list-style-type: none;
	padding: 2ch 1.5ch 0;
	display: flex;
	flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
	max-width: 800px;
	margin: auto 25%;
	color: #c5ffff;
	max-height: 110ch;
}

#output2 {
	list-style-type: none;
	padding: 2ch 1.5ch 0;
	max-width: 800px;
	margin: auto;
	color: #c5ffff;
}

.fizzbuzz0 li {
    width: 35ch;
    text-align: left;
}

.fizzbuzz1 li, .fizzbuzz2 li, .fizzbuzz3 li {
	width: 25ch;
	text-align: left;
}
